{layout name="public:layout" /}
<h4 class="text-center text-success">文章管理</h4>
<table class="table table-default table-hover text-center">

    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>栏目</td>

        <td>作者</td>

        <td>阅读量</td>
        <td>创建时间</td>
        <td colspan="2">操作</td>
    </tr>

    {volist name="postslist" id="post" empty="$empty"}
    <tr>
        <td>{$post.id}</td>
        <td>{$post.title}</td>
        <td>{$post.cate_id|getCateName}</td>

        <td>{$post.user_id|getUserName}</td>

        <td>{$post.pv}</td>
        <td>{$post.created_at}</td>

        <td><a href="{:url('posts/postedit',['id'=>$post.id])}">编辑</a> </td>
        <td><a href="javascript:void(0);" onclick="dele('{$post.id}');">删除</a> </td>
    </tr>
    {/volist}

</table>
<div><a class="btn btn-info" style="" href="{:url('posts/postinsert')}" role="button">添加文章</a></div>

{$postslist->render()}


<script>
    function dele(id)
    {
        if(confirm('您真的要删除吗?') == true){
            window.location.href='/myface/public/admin.php/posts/del/id/'+id;
        }
    }
</script>