
{layout name="public:layout" /}

<h4 class="text-center text-success">用户列表</h4>
<table class="table table-default table-hover text-center">

    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>邮箱</td>
        <td>注册时间</td>
        <td>身份</td>
        <td colspan="2">操作</td>
    </tr>

    <tr>
        <td>{$user.id}</td>
        <td>{$user.name}</td>
        <td>{$user.email}</td>
        <td>{$user.create_time}</td>
        <td>
            <span style="color:red">超级管理员</span>
        </td>

        <!--非当前用户是不允许编辑其他用户资料-->
        <td><a href="">编辑</a> </td>
        <td><a href="javascript:void(0);" onclick="">删除</a> </td>
    </tr>

</table>